**Pandas Prectice**

In [ ]:
# import libraries
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [82]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [83]:
sr = pd.Series(mydict)
pd.DataFrame(sr)
pd.DataFrame(mydict, index=[0])
sr.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [85]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
pd.DataFrame({'col1' : ser1,'col2' : ser2})

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [86]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser1.name = 'alphabets'
ser1.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [87]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [88]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

pd.Series(np.union1d(ser1, ser2))[~pd.Series(np.union1d(ser1,ser2)).isin(pd.Series(np.intersect1d(ser1,ser2)))]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [89]:
pd.Series(np.union1d(ser1,ser2))
print(~pd.Series(np.union1d(ser1,ser2)))
print([~pd.Series(np.union1d(ser1,ser2)).isin(pd.Series(np.intersect1d(ser1,ser2)))])
print(pd.Series(np.union1d(ser1, ser2)))

0   -2
1   -3
2   -4
3   -5
4   -6
5   -7
6   -8
7   -9
dtype: int64
[0     True
1     True
2     True
3    False
4    False
5     True
6     True
7     True
dtype: bool]
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [91]:
np.union1d([1,2,3,4,5],[1,2,3,4,5,6,7,8,9])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [92]:
state = np.random.RandomState(100)
ser = pd.Series(np.random.normal(10, 5, 25))
ser

0      8.810983
1      7.866149
2      8.491801
3     15.703954
4      7.035119
5     17.678114
6      8.676508
7     15.340972
8      9.390853
9     13.652035
10    11.464722
11     8.980004
12    14.249464
13     2.334198
14    12.809094
15     0.709443
16    14.161934
17    19.157167
18    21.073346
19     6.417545
20    14.355937
21    10.938725
22    17.429191
23     5.630591
24    11.124167
dtype: float64

In [93]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 0.70944339,  8.49180095, 11.12416658, 14.35593724, 21.07334631])

In [94]:
state = np.random.RandomState(100)
pd.Series(state.normal(10, 5, 25))

0      1.251173
1     11.713402
2     15.765179
3      8.737820
4     14.906604
5     12.571094
6     11.105898
7      4.649783
8      9.052521
9     11.275007
10     7.709865
11    12.175817
12     7.082025
13    14.084235
14    13.363604
15     9.477944
16     7.343598
17    15.148663
18     7.809322
19     4.408409
20    18.094908
21    17.708026
22     8.740604
23     5.787821
24    10.922593
dtype: float64

In [95]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

a    8
e    6
f    5
c    3
g    3
h    2
b    2
d    1
Name: count, dtype: int64

In [96]:
np.random.seed = 12
ser = pd.Series(np.random.randint(1, 5, size= 12))
print(ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

4    4
3    4
1    3
2    1
Name: count, dtype: int64

<ipython-input-96-63a5ceead763>:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0         4
1         3
2         3
3         4
4         3
5         4
6     Other
7     Other
8         4
9         3
10    Other
11    Other
dtype: object

In [97]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser,q =[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], labels= ['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']).head()

0     2nd
1     8th
2     3rd
3     1st
4    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [99]:
#reshape the series:
ser = pd.Series(np.random.randint(1, 10, 35))
# np.reshape(ser,(7,5))
ser.values.reshape(7,5)
ser.keys()

RangeIndex(start=0, stop=35, step=1)

In [100]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [102]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [103]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [104]:
[i for i in ser2]

[1, 3, 10, 13]

In [105]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [106]:
[np.where(i == ser1)[0][0] for i in ser2]
# [np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [107]:
np.where(1 == ser1)[0][0]

5

In [108]:
# predication
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
(1/10) * sum((truth-pred) **2)

0.2609246066150729

In [109]:
np.mean((truth-pred) **2)

0.2609246066150729

In [110]:
pd.Series(['how', 'to', 'kick', 'ass?']).map(lambda x : x.title())
pd.Series(['how', 'to', 'kick', 'ass?']).map(lambda x : x[0].upper() + x[1:])


[i.title() for i in pd.Series(['how', 'to', 'kick', 'ass?'])]
# ser.map(lambda x: x.title())

['How', 'To', 'Kick', 'Ass?']

In [111]:
[len(i) for i in pd.Series(['how', 'to', 'kick', 'ass?'])]

[3, 2, 4, 4]

In [112]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff().diff().tolist()

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [17]:
#convert a series of date-strings
import dateutil.parser

date_string = "November 1st, 2023"
date_object = dateutil.parser.parse(date_string)
date_object

datetime.datetime(2023, 11, 1, 0, 0)

In [18]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# # Solution 1
# from dateutil.parser import parse
# ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser, format='mixed')

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [34]:
#To get the day of month, week number, day of year and day of week from a series of date strings
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

sr = pd.to_datetime(ser, format='mixed')

day = []
week = []
dayofyear = []
dayofweek = []

for i in sr:
  day.append(i.day)
  week.append(i.week)
  dayofyear.append(i.dayofyear)
  dayofweek.append(i.dayofweek)

print(day)
print(week)
print(dayofyear)
print(dayofweek)

[1, 2, 3, 4, 5, 6]
[53, 5, 9, 14, 19, 23]
[1, 33, 63, 94, 125, 157]
[4, 2, 5, 3, 0, 5]

In [41]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
pd.to_datetime(ser,format= 'mixed')


ser.map(lambda x:parse('04'+ x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [57]:
print(parse('10'))
print(parse('10' + 'Feb 2011'))
print(parse('10' + 'Mar 2012'))

2024-12-10 00:00:00
2011-02-10 00:00:00
2012-03-10 00:00:00

In [60]:
#filter words that contain atleast 2 vowels from a series

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser
for i in ser:
  count = 0
  for j in i:
    if j.upper() in ['A','E','I','O','U']:
      count += 1
  if count >= 2:
    print(i)

Apple
Orange
Money

In [61]:
from collections import Counter
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [80]:
#to filter valid emails from a series
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

import re
list(j[0] for j in list(re.findall(pattern,i) for i in emails) if len(j) > 0)

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']